<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-brand" href="#">College Database</div>
    </div>
    <ul class="nav navbar-nav">
      <li (click)="onClick('department')"><a href="#">Departments</a></li>
      <li (click)="onClick('student')"><a href="#">Students</a></li>
      <li (click)="onClick('staff')"><a href="#">Staffs</a></li>
    </ul>
  </div>
</nav>
<div [ngSwitch]='selectOption'>
  <div *ngSwitchCase="'department'" class="container">
    <app-department>Departments</app-department>
  </div>
  <div *ngSwitchCase="'student'" class="container">
      <app-student>Student</app-student>
  </div>
  <div *ngSwitchCase="'staff'" class="container">
    <app-staff>Student</app-staff>
</div>
</div>
</body>
</html>